<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="transaction-transaccion">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `transaction-transaccion`
     * transacciones
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TransactionTransaccion extends Polymer.Element {
      static get is() { return 'transaction-transaccion'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'transaction-transaccion'
          }
        };
      }
    }

    window.customElements.define(TransactionTransaccion.is, TransactionTransaccion);
  </script>
</dom-module>
